version: "3.9"

services:
  app:
    build: .
    container_name: medical-app
    ports:
      - "8888:8888"
    depends_on:
      - redis
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379

  redis:
    image: redis:7
    container_name: medical-redis
    ports:
      - "6379:6379"

