name: Python CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    services:
      redis:
        image: redis:7-alpine
        ports:
          - 6379:6379

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.9

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r python3-app/requirements.txt

    - name: Run application in background
      working-directory: python3-app
      run: |
        nohup python3 main.py &

    - name: Wait for app to start
      run: sleep 5

    - name: Prepare test data
      run: |
        curl -X POST http://localhost:8888/hospital -d "name=TestHospital&address=TestAddress&beds_number=10&phone=12345"
        curl -X POST http://localhost:8888/patient -d "surname=TestPatient&born_date=1990-01-01&sex=M&mpn=123456"
        curl -X POST http://localhost:8888/doctor -d "surname=TestDoctor&profession=Therapist&hospital_ID=1"

    - name: Run tests
      working-directory: python3-app
      run: |
        set -x  # включить подробный вывод команд
        python --version
        pip --version
        echo "Запускаем тесты..."
        python -m unittest discover tests -v || (echo "Тесты завершились с ошибкой"; exit 1)

